<!DOCTYPE html>
<html>
<head>
  <title>PgsPoker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="ppApp" ng-cloak>

<% if Rails.env.development? || Rails.env.test? %>
    <base href=<%= ENV["NORMAL_BASE_PATH"] %> />
<% elsif Rails.env.production? %>
    <base href=<%= ENV["PRODUCTION_BASE_PATH"] %> />
<% end %>

<!-- Navigation -->
<nav class="navbar navbar-default pgs-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a href="https://www.pgs-soft.com"><%= image_tag("pgs-logo.png", class: "logo-image", alt: "PGS Logo") %></a>
      <a class="mayberry-semibold application-name" href="#">PGS Poker</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-right">
        <% if current_page?(root_path) %>
          <li class="pgs-menu-option pgs-menu-option-active"><a href="#" class="">Create new room<span class="sr-only">(current)</span></a></li>
        <% else %>
          <li class="pgs-menu-option"><a href="#" class="">Create new room<span class="sr-only">(current)</span></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>
